/* .form-nav{

} */
.header{
    font-family: 'Zhi Mang Xing', cursive;
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    box-shadow: 23px 2px rgba(0.1,0.1,0.1 , 0.1),
        49px 2px rgba(0.06,0.06,0.06,0.06);
}
.header a{
    text-decoration: none;
}
.form-nav input{
    height: 25px;
}
.form-nav button{
    height: 25px;
    text-align: center;
}

@media(max-width: 720px){
    .form-nav{
        border-top: solid 1px slategrey;
    }
}